server {
    listen 80;
    server_name reddeadnettle.network;

    location / {
        root /srv/www;
        index index.html;

        try_files $uri $uri/ /index.html;
    }
}